.specs-wrapper{
  .spec-box{
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  .specs-table{
    margin-top: 5px;
  }
  .spec-form{
    display: flex;
    justify-content: space-between;
    .ant-input{
      margin-right: 15px;
    }
    .delete-btn{
      margin-left: 15px;
    }
  }
  .plus-btn{
    width: 50px;
    border: 1px #ccc dashed;
    color:#999;
    height: 50px;
    text-align: center;
    line-height: 46px;
    font-size: 20px;
    cursor: pointer;
  }
}