@import '~antd/es/style/themes/default.less';

.shoplist{
  margin-bottom: 20px;
  .add-form {
    .form-itme {
      margin-bottom: 10px;
    }
  }
  .center{
    text-align: center;
  }
  
}
.a-table{
  width: 100%;
  min-width: 500px;
  border: 1px solid #dfe6ec;
  border-bottom: 0;
  tr{
    background-color: #fff;
    td,th{
      height: 40px;
      min-width: 0;
      text-overflow: ellipsis;
      vertical-align: middle;
      text-align: center;
    }
    th{
      white-space: nowrap;
      overflow: hidden;
      background-color: #eef1f6;
      border-bottom: 1px solid #dfe6ec;
    }
  }
  tr{
    border-bottom: 1px solid #dfe6ec;
  }
}