.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  >i{
    padding: 10px;
  }
  .header-top-right{
    display: flex;
    align-items: center;
    .weather{
      display: flex;
      align-items: center;
      margin-right: 20px;
      .time{
        margin-right: 10px;
      }
      img{
        width: 30px;
        margin-right: 10px;
      }
    }
    .info{
      display: flex;
      align-items: center;
      >span{
        margin-right: 10px;
      }
    }
  }
}