.lefr-nav-logo{
  height: 40px;
  a{
    display: flex;
    height: 40px;
    justify-content: center;
  }
  img{
    width: 30px;
    display: block;
    height: 30px;
    margin: 5px 0;
  }
  span{
    display: -block;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
    line-height: 40px;
    overflow: hidden;
  }
}