body {
    background: #f5f5f5;
}

.block {
    background: #fff;
}

.hblock {
    padding-top: 45px;
}

.full {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.alink {
    color: @thcol;

    &:link {
        color: @thcol;
    }
}

.tips-title {
    padding: 10px;
    font-size: 12px;

    >span {
        color: #999;
    }
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}