body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0
}

html {
    height: 100%;
}

body {
    background: #fff;
    -webkit-text-size-adjust: 100%;
    color: #333;
    font-size: 16px;
    height: 100%;
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

a {
    color: #333;
    text-decoration: none;

    &:hover {
        color: #666;
    }

    &:link {
        color: #666;
    }
}
/* 改加载条颜色*/
#nprogress .bar {
    background: #222 !important; //自定义颜色
}