@import '~antd/es/style/themes/default.less';
.role{
  .btns{
    padding: 10px;
    .right-btn{
      margin-left: 10px;
    }
  }
}
.auth-form{
  margin: -24px -24px -24px -15px;
  padding-right: 10px;
  max-height: 400px;
  overflow-y: auto;
  .form-itme{
    border-bottom: 1px solid #ddd;
    margin-bottom: 0px;
  }
}